<div class="nav-container" *ngIf="isNavbarVisible" [ngClass]="navbarIsUnder ? 'is-active' : ''">
    <ul class="nav-list">
        <li class="nav-item"><a class="nav-item-link" href="#">Acerca De</a></li>
        <li class="nav-item"><a class="nav-item-link" routerLink="/register">Registrarse</a></li>
        <li class="nav-item">
            ​<div class="nav-drop">
                <button class="nav-drop-btn">Productos <img src="../../../assets/svg/arrow-down.svg" width="32px" alt="arrow-down"></button>
                <div class="dropdown-content">
                <a href="#">Ropa</a>
                <a href="#">Electronica</a>
                <a href="#">Vehiculos</a>
                <a href="#">Herramientas</a>
                <a href="#">Otros</a>
                </div>
            </div>
        </li>
    </ul>
</div>