<div class="card-grid">
    <div class="card" *ngFor="let product of products">
        <div class="card-img">
            <img src="{{product.image}}" alt="">
        </div>
        <div class="card-info">
            <div class="card-info-align">
                <hr>
                <div class="card-price">
                    <p>{{product.price}}</p>
                </div>
                <div class="card-desc">
                    <p>{{product.name}}</p>
                </div>
            </div>
        </div>
        <a class="card-link" [routerLink]="['/product', product.id]" (click)="scrollToTop();" ></a>
    </div>
</div>